<%- include('../partials/header'); %>

    <main class="main main-home container text-center">
        <h2 class="home-header">
            Welcome To Everything Baseball!
        </h2>
        <img src="./media/Baseball.png" alt="Baseball Stadium" class="img-fluid baseball-image">
    </main>

<%- include('../partials/footer'); %>